<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lists of all tasks</title>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <!-- <h1>TASKS APP</h1> -->
<p>Welcome to TODOLIST APP to store your tasks</p>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <strong><%= task.todo %></strong> representing
            <%= task.category %>,deadline
                <%= task.birth_date %>
        </li>
        <% }); %>
</ul>


</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>

</html> -->